{% extends "layout.html" %}

{% block title %}
    Record Time
{% endblock %}

{% block body %}


    <div class="jumboton">
        <form action="{{ url_for('record') }}" method="post">
            <div class="form-group">
                <label for="exampleFormControlInput1">Date</label>
                <input type="text" class="form-control" id="date" name="date_field" placeholder={{ today }}>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Subject</label>
                <select class="form-control" name="subject_field">
                    {% for subject in subjects %}
                            <option value="{{ subject[0] }}">{{ subject[0] }}</option>
                    {% endfor %}
                </select>
              </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Time Spent At Task</label>
                <textarea class="form-control" name="time_field" rows="1" placeholder="Enter time as decimal"></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Submit Record</button>
            </div>
        </form>
    </div>
{% endblock %}
