{% extends "layout.html" %}


{% block title %} {{ subject }} {% endblock %}


{% block body %}

    <h1> {{ subject }}</h1>

    <div class="col">
        <div align="center" class="jumbotron">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{ d[0] }}</td>
                                <td>{{ d[1] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>>



{% endblock %}