{% extends "layout.html" %}

{% block title %}
    Success Page
{% endblock %}

{% block body %}

    <h1 align="center"> Congratulations! </h1>
    <p>

    Congratulation on recording {{ time }} hours of study time in {{ subject }}. Every minute brings you closer to <br>
    mastering the subject !<br>

        <br>

    "May your trails be crooked, winding, lonesome, dangerous, leading to the most amazing view. May your <br>
    mountains rise into and above the clouds" ~ Edward Abbey
    </p>


{% endblock %}